name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted
    environment: Production
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
      EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
      NEXTAUTH_URL: ${{ vars.NEXTAUTH_URL }}
      EMAIL_FROM: ${{ vars.EMAIL_FROM }}
      EMAIL_PORT: ${{ vars.EMAIL_PORT }}
      EMAIL_SERVER: ${{ vars.EMAIL_SERVER }}
      NODE_ENV: ${{ vars.NODE_ENV }}       

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - run: pnpm i
    - run: pnpm run build
    - run: pm2 stop todolist
    - run: pm2 start ecosystem.config.js
